.error {
  width: 400px;
  color: rgb(88, 15, 15);
  background: rgb(238, 113, 113);
  font-size: 20px;
  /* border-style: solid; */
  border-radius: 5px;
  padding: 10px;
  margin: 20px;
}

.success {
  width: 400px;
  color: rgb(23, 88, 15);
  background: rgb(134, 238, 113);
  font-size: 20px;
  /* border-style: solid; */
  border-radius: 5px;
  padding: 10px;
  margin: 20px;
}